<?xml version="1.0" encoding="utf-8"?>
<Media Key="436ade9c-bd8d-41fc-9587-ce5576bd393f" Alias="AboutUsCorner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUsCornerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T12:39:15</CreateDate>
    <NodeName Default="AboutUsCorner.png" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cmkcz3pe/aboutuscorner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>