<?xml version="1.0" encoding="utf-8"?>
<Media Key="d574789c-b258-4d88-9ccb-1397a080462f" Alias="AjCarter.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AjCarterpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T13:17:08</CreateDate>
    <NodeName Default="AjCarter.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cozdeyzr/ajcarter.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>