<?xml version="1.0" encoding="utf-8"?>
<Media Key="15164c7b-c1ef-45e4-bebc-bf75d00df0de" Alias="AnnualReport.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnnualReportpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T17:32:46</CreateDate>
    <NodeName Default="AnnualReport.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4sdfbi2g/annualreport.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>