<?xml version="1.0" encoding="utf-8"?>
<Media Key="35e028b3-2332-40fe-927b-fd2d0db5dba1" Alias="BrandonNewton.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonNewtonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T13:16:29</CreateDate>
    <NodeName Default="BrandonNewton.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/htrkna01/brandonnewton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>