<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6f48824-8fa6-4ef9-9e8f-3a7e882419ed" Alias="BrandonKerr.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BrandonKerrpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T13:19:10</CreateDate>
    <NodeName Default="BrandonKerr.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vnbleagp/brandonkerr.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>