<?xml version="1.0" encoding="utf-8"?>
<Media Key="542e73ac-8e0d-469b-88ca-a6c25ec1fa13" Alias="ContactPic.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactPicpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T13:20:44</CreateDate>
    <NodeName Default="ContactPic.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eo2hryte/contactpic.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>