<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2b0ef06-7bf0-4d8c-88b3-c26c6039b22a" Alias="DetailsWomanMan.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DetailsWomanManpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T21:02:15</CreateDate>
    <NodeName Default="DetailsWomanMan.png" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/respmbez/detailswomanman.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>