<?xml version="1.0" encoding="utf-8"?>
<Media Key="209ab58b-8500-421a-88d4-7debecfa90b1" Alias="DetailsGroup.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DetailsGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T20:58:19</CreateDate>
    <NodeName Default="DetailsGroup.png" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ar5nzftj/detailsgroup.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>