<?xml version="1.0" encoding="utf-8"?>
<Media Key="2defb451-dc9b-4614-bbbb-df2da1bce368" Alias="FinancialAdvisors.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T19:36:40</CreateDate>
    <NodeName Default="FinancialAdvisors.png" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1z5ktg5s/financialadvisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>