<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b5bb703-6342-4ac7-879b-debb3d264984" Alias="kevin-gardner.png (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerpng1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T21:29:24</CreateDate>
    <NodeName Default="kevin-gardner.png (1)" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rr4b1pjl/kevin-gardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>