<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea1b0a02-9451-4d75-9462-9837beab16df" Alias="KevinGardner.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KevinGardnerpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T13:20:05</CreateDate>
    <NodeName Default="KevinGardner.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rxaf0xby/kevingardner.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>