<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8ede6d9-e3bb-411b-aa1d-62f477275612" Alias="OurProject3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProject3png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:43:21</CreateDate>
    <NodeName Default="OurProject3.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kywkwhws/ourproject3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>