<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e2d1d14-51aa-4d78-9caa-df0ea7aac3a0" Alias="OurProject2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProject2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:42:42</CreateDate>
    <NodeName Default="OurProject2.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tplhxwgd/ourproject2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>