<?xml version="1.0" encoding="utf-8"?>
<Media Key="318d74c8-282e-4df1-bae6-d19da382e38a" Alias="OurProject4.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurProject4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:43:54</CreateDate>
    <NodeName Default="OurProject4.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i45mxb0h/ourproject4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>