<?xml version="1.0" encoding="utf-8"?>
<Media Key="cac671b5-39e5-4a26-b766-252ecd6041f0" Alias="OurStory.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurStorypng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:29:56</CreateDate>
    <NodeName Default="OurStory.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hk3ja5em/ourstory.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>