<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9549acd-15cc-4921-a09d-884189c540ae" Alias="RiskManagement.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:23:34</CreateDate>
    <NodeName Default="RiskManagement.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ijibet3f/riskmanagement.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>