<?xml version="1.0" encoding="utf-8"?>
<Media Key="191ebe9c-c5f9-4f7b-81e2-113175c08e83" Alias="RiskManagementMain.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagementMainpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T12:42:01</CreateDate>
    <NodeName Default="RiskManagementMain.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cn0frl2q/riskmanagementmain.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>