<?xml version="1.0" encoding="utf-8"?>
<Media Key="681c518b-6200-4239-ab36-c794201fc3cc" Alias="RiskmanagementGroup.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskmanagementGrouppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-02T12:45:36</CreateDate>
    <NodeName Default="RiskmanagementGroup.png" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/asnfvxtj/riskmanagementgroup.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>