<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac93122e-2f7a-445d-8d13-206b9fb638bf" Alias="TaxTrusts.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TaxTrustspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-30T10:26:33</CreateDate>
    <NodeName Default="TaxTrusts.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uhmnkgqt/taxtrusts.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>