<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0285591-8712-41c4-bb53-686d5df66d54" Alias="TinaFox.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T13:12:37</CreateDate>
    <NodeName Default="TinaFox.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d0ph2zt1/tinafox.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>