<?xml version="1.0" encoding="utf-8"?>
<Content Key="8250474f-ec73-49a2-8172-1921c9b2594c" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f46dd2ca-9c05-4656-bdd5-20f1f7c4f5bd">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-10-03T11:27:17</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a4eabb39-3c4c-4027-a213-b54b54979a6a">contact</Template>
  </Info>
  <Properties>
    <contactText>
      <Value><![CDATA[Home > Contact]]></Value>
    </contactText>
    <contactTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </contactTitle>
    <contactUsAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactUsAddress>
    <contactUsEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </contactUsEmail>
    <contactUsEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactUsEmailAddress>
    <contactUsLocation>
      <Value><![CDATA[Office location]]></Value>
    </contactUsLocation>
    <contactUsPhone>
      <Value><![CDATA[Phone number]]></Value>
    </contactUsPhone>
    <contactUsPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactUsPhoneNumber>
    <contactUsPicture>
      <Value><![CDATA[[
  {
    "key": "ed167087-22a5-430a-86eb-8c393d80e7a7",
    "mediaKey": "542e73ac-8e0d-469b-88ca-a6c25ec1fa13",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactUsPicture>
    <contactUsTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELet us know about\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Eyour next project\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactUsTitle>
    <footerPicture>
      <Value><![CDATA[[
  {
    "key": "b5a5f724-ddfc-4357-ae91-2b067c0685af",
    "mediaKey": "ecc6ef8a-402e-4889-892b-9a143d6641d4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerPicture>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "5799fc98-62bc-4515-b47c-c41d0127077e",
    "mediaKey": "b880258b-cfde-428d-9fa7-a5d288792cb7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
  </Properties>
</Content>