<?xml version="1.0" encoding="utf-8"?>
<Content Key="f46dd2ca-9c05-4656-bdd5-20f1f7c4f5bd" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-24T15:43:54</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="66fbe32f-66be-48f3-9f78-bb01dfe02547">homePage</Template>
  </Info>
  <Properties>
    <aboutUsDescription>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe have 40 years experience\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsDescription>
    <aboutUsFormText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu\u003Cbr\u003Efugiat nulla pariatur excepteur sint occaecat\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsFormText>
    <aboutUsFormTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ERequest a call back\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsFormTitle>
    <aboutUsPicture>
      <Value><![CDATA[[
  {
    "key": "e96ec486-49c7-49dd-9d2f-e39bab88bf09",
    "mediaKey": "a304c10d-e6c6-43d8-b9b5-d627106ede6e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsPicture>
    <aboutUsRole>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ETina Fox - CEO \u0026amp; Founder\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsRole>
    <aboutUsText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E\u201CWe have over 25 years of experience providing expert financial\u003C/div\u003E\n\u003Cdiv\u003Eadvice to both businesses and individuals.\u201D\u003Cbr\u003E\u003Cbr\u003E\n\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Eoccaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsText>
    <absoutUsTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E\u0026nbsp;ABOUT US\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </absoutUsTitle>
    <footerImage>
      <Value><![CDATA[[
  {
    "key": "459d51dc-7ff4-4ca2-86ed-e42ccfa992b3",
    "mediaKey": "ecc6ef8a-402e-4889-892b-9a143d6641d4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerImage>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "c2545300-8c1e-4e7a-adc2-cc925f2a0360",
    "mediaKey": "b880258b-cfde-428d-9fa7-a5d288792cb7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <heroPicture>
      <Value><![CDATA[[
  {
    "key": "4387e908-994c-45b0-ad17-f9f55fe29d28",
    "mediaKey": "b65c67dd-3e69-445f-9962-f8793a57e399",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroPicture>
    <heroText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Eeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Ead minim Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Eeiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Ead minim\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EWe bring \u003Cbr\u003Esuccess to you\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </heroTitle>
    <ourProjectBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "0e9d679f-8caf-4d92-a296-aff447721fe8",
    "mediaKey": "318d74c8-282e-4df1-bae6-d19da382e38a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxFourPicture>
    <ourProjectBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E\u0026nbsp;Financial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxFourText>
    <ourProjectBoxFourTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBudget Planning for Buccura Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxFourTitle>
    <ourProjectBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "d1662046-b2ef-4695-858b-763e4f1b9711",
    "mediaKey": "1e6bdfa3-3719-45ad-a368-cb0c7689d5f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxOnePicture>
    <ourProjectBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxOneText>
    <ourProjectBoxOneTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EAnnual Report for Juva Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxOneTitle>
    <ourProjectBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "080d46d8-44f9-4305-8260-f72b7fa5a522",
    "mediaKey": "a8ede6d9-e3bb-411b-aa1d-62f477275612",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxThreePicture>
    <ourProjectBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxThreeText>
    <ourProjectBoxThreeTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Advisors to Irra Corp Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxThreeTitle>
    <ourProjectBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "77139a1c-6493-4b73-b069-85afd18ff13a",
    "mediaKey": "6e2d1d14-51aa-4d78-9caa-df0ea7aac3a0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectBoxTwoPicture>
    <ourProjectBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Services\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxTwoText>
    <ourProjectBoxTwoTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBusiness Insights for SP Group Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectBoxTwoTitle>
    <ourProjectText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ERecent projects\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectText>
    <ourProjectTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EOUR PROJECTS\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourProjectTitle>
    <ourServicesBoxFivePicture>
      <Value><![CDATA[[
  {
    "key": "4cac641e-8165-424b-a33a-657436ed506f",
    "mediaKey": "920ecdcd-c230-4ef1-8ae8-b22cd9803c80",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxFivePicture>
    <ourServicesBoxFiveText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFiveText>
    <ourServicesBoxFiveTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Advisor\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFiveTitle>
    <ourServicesBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "9ad384b3-79f4-4acc-a1f9-71c1eefea0cd",
    "mediaKey": "ac93122e-2f7a-445d-8d13-206b9fb638bf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxFourPicture>
    <ourServicesBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFourText>
    <ourServicesBoxFourTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ETax and Trusts\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxFourTitle>
    <ourServicesBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "7852308f-ed68-477c-8ffa-c276f12b74dd",
    "mediaKey": "f9549acd-15cc-4921-a09d-884189c540ae",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxOnePicture>
    <ourServicesBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxOneText>
    <ourServicesBoxOneTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ERisk \u0026amp; Management\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxOneTitle>
    <ourServicesBoxSixPicture>
      <Value><![CDATA[[
  {
    "key": "3b5e68e6-660f-4455-a837-e0b01adc4578",
    "mediaKey": "1ad11e1a-731e-4162-a8cf-7d342b844bf8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxSixPicture>
    <ourServicesBoxSixText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxSixText>
    <ourServicesBoxSixTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EStatistic Advisors\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxSixTitle>
    <ourServicesBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "1aefdcbf-a813-4523-9cb7-f105cba98df8",
    "mediaKey": "1a590ce2-5427-4c53-b81e-2a7f89bc9a01",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxThreePicture>
    <ourServicesBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxThreeText>
    <ourServicesBoxThreeTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EAssurance \u0026amp; Audits\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxThreeTitle>
    <ourServicesBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "fe729705-83bb-4b33-a5f0-5eac83f54217",
    "mediaKey": "01969563-24be-4fb6-8d15-d0d6b083f9bd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesBoxTwoPicture>
    <ourServicesBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxTwoText>
    <ourServicesBoxTwoTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBonds \u0026amp; Commodities\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesBoxTwoTitle>
    <ourServicesDescription>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe Provide The Solutions\u003Cbr\u003ETo Grow Your Business Faster \u0026nbsp;\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesDescription>
    <ourServicesTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E\u0026nbsp; OUR SERVICES\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourServicesTitle>
    <ourStoryPicture>
      <Value><![CDATA[[
  {
    "key": "ab97e734-312f-46f4-8713-8c2534d42df6",
    "mediaKey": "cac671b5-39e5-4a26-b766-252ecd6041f0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourStoryPicture>
    <ourStoryText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam\u003C/div\u003E\n\u003Cdiv\u003Eaccumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourStoryText>
    <ourStoryTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe are trusted by more than\u003C/div\u003E\n\u003Cdiv\u003E4.000\u002B clients\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourStoryTitle>
    <successStoryBoxOneNumber>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E689\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxOneNumber>
    <successStoryBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EMore than 100 customers has been\u0026lt;br\u0026gt; \u0026lt;span\u0026gt;\u003C/div\u003E\n\u003Cdiv\u003Eserved\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxOneText>
    <successStoryBoxThreeNumber>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E125\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxThreeNumber>
    <successStoryBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EMore than 125 branches has been\u003C/div\u003E\n\u003Cdiv\u003Eestablished in Europe and America\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxThreeText>
    <successStoryBoxTwoNumber>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003E370\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxTwoNumber>
    <successStoryBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EMore than 370 projects has been\u003C/div\u003E\n\u003Cdiv\u003Ecompleted\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryBoxTwoText>
    <successStoryPicture>
      <Value><![CDATA[[
  {
    "key": "d5b16b7d-9a5d-404c-88c2-69a9b5e1559d",
    "mediaKey": "fc69a2e7-09b5-42da-afd4-29eb573e630b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryPicture>
    <successStoryText>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ESuccess story\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryText>
    <successStoryTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESUCCESS STORIES\u003C/div\u003E\n\u003C/div\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </successStoryTitle>
  </Properties>
</Content>