<?xml version="1.0" encoding="utf-8"?>
<Content Key="f710dbfb-7428-46e7-ba99-f1751f9011b9" Alias="Projects" Level="2">
  <Info>
    <Parent Key="f46dd2ca-9c05-4656-bdd5-20f1f7c4f5bd">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-10-02T17:31:36</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49bd2c12-a09e-44d5-bc58-cc856ca9e1bc">projects</Template>
  </Info>
  <Properties>
    <aboutUsCornerText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EOnline support 24/7, we are here to\u003C/div\u003E\n\u003Cdiv\u003Ehelp you\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </aboutUsCornerText>
    <aboutUsCornerTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </aboutUsCornerTitle>
    <contactInformationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInformationAddress>
    <contactInformationEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInformationEmail>
    <contactInformationEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInformationEmailAddress>
    <contactInformationLocation>
      <Value><![CDATA[Office location]]></Value>
    </contactInformationLocation>
    <contactInformationPhone>
      <Value><![CDATA[Phone number]]></Value>
    </contactInformationPhone>
    <contactInformationPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInformationPhoneNumber>
    <contactInformationPicture>
      <Value><![CDATA[[
  {
    "key": "f499c624-69f5-4616-9643-477310dac303",
    "mediaKey": "542e73ac-8e0d-469b-88ca-a6c25ec1fa13",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInformationPicture>
    <contactInformationTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELet us know about\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Eyour next project\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactInformationTitle>
    <footerPicture>
      <Value><![CDATA[[
  {
    "key": "3fc4b1b8-036a-44b2-8dca-afb47509d63c",
    "mediaKey": "ecc6ef8a-402e-4889-892b-9a143d6641d4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerPicture>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "65a526d7-1125-452b-90fa-a6f81c0888ec",
    "mediaKey": "b880258b-cfde-428d-9fa7-a5d288792cb7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <ourProjectsText>
      <Value><![CDATA[Home> Projects]]></Value>
    </ourProjectsText>
    <ourProjectsTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </ourProjectsTitle>
    <ourSupportBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "7e932671-8906-4f85-9fdb-0f1fae6878a9",
    "mediaKey": "1ac81c85-5d6b-48ef-8398-c5f79778afa0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxFourPicture>
    <ourSupportBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxFourText>
    <ourSupportBoxFourTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </ourSupportBoxFourTitle>
    <ourSupportBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "86de7b5c-bf43-4733-8f63-4fe0c4291b3e",
    "mediaKey": "15164c7b-c1ef-45e4-bebc-bf75d00df0de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxOnePicture>
    <ourSupportBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxOneText>
    <ourSupportBoxOneTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </ourSupportBoxOneTitle>
    <ourSupportBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "b5ab045b-b14d-4bcc-b3bf-c2028850fd78",
    "mediaKey": "2defb451-dc9b-4614-bbbb-df2da1bce368",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxThreePicture>
    <ourSupportBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxThreeText>
    <ourSupportBoxThreeTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </ourSupportBoxThreeTitle>
    <ourSupportBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "dc6e36f2-c478-4b80-8d82-2a56420a9a12",
    "mediaKey": "89284f85-bc24-4215-87f9-d45ed024a502",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourSupportBoxTwoPicture>
    <ourSupportBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error sit\u003C/div\u003E\n\u003Cdiv\u003Evoluptatem accusantium doloremque laudantium.\u003C/div\u003E\n\u003Cdiv\u003ESed ut perspiciatis unde omnis iste natus error.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourSupportBoxTwoText>
    <ourSupportBoxTwoTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </ourSupportBoxTwoTitle>
    <recentBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "f1a30d97-d5fa-45a4-903f-5f438862dc9c",
    "mediaKey": "15390e1d-305c-4f50-b7b2-64e0eff0ccb9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxFourPicture>
    <recentBoxFourTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBudget Planning for\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003EBuccura Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxFourTitle>
    <recentBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "8af498b0-c318-4d8e-899e-a8559b87dd8b",
    "mediaKey": "15390e1d-305c-4f50-b7b2-64e0eff0ccb9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxOnePicture>
    <recentBoxOneTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EAnnual Report for\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003EJuva Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxOneTitle>
    <recentBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "677337e4-5733-4c1e-a8f7-1d3762a15efc",
    "mediaKey": "15390e1d-305c-4f50-b7b2-64e0eff0ccb9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxThreePicture>
    <recentBoxThreeTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EFinancial Advisors to\u003C/div\u003E\n\u003Cdiv\u003EIrra Group Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxThreeTitle>
    <recentBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "807d6c70-2f4e-44fa-a62b-4997d8b1922c",
    "mediaKey": "15390e1d-305c-4f50-b7b2-64e0eff0ccb9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentBoxTwoPicture>
    <recentBoxTwoTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EBusiness Insights for\u003C/div\u003E\n\u003Cdiv\u003ESP Group Inc.\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </recentBoxTwoTitle>
    <recentProjectsTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </recentProjectsTitle>
  </Properties>
</Content>