<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb273f13-3bde-4d6e-9357-ecf01fbd0f06" Alias="Services" Level="2">
  <Info>
    <Parent Key="f46dd2ca-9c05-4656-bdd5-20f1f7c4f5bd">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>services</ContentType>
    <CreateDate>2024-10-02T09:49:38</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a0d99344-658e-42a1-8138-d7a2356f0074">services</Template>
  </Info>
  <Properties>
    <contactInformationAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInformationAddress>
    <contactInformationEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInformationEmail>
    <contactInformationEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInformationEmailAddress>
    <contactInformationLocation>
      <Value><![CDATA[Office location]]></Value>
    </contactInformationLocation>
    <contactInformationPhone>
      <Value><![CDATA[Phone number]]></Value>
    </contactInformationPhone>
    <contactInformationPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInformationPhoneNumber>
    <contactInformationPicture>
      <Value><![CDATA[[
  {
    "key": "588728f2-dd5a-4326-972b-3d6d1abad595",
    "mediaKey": "542e73ac-8e0d-469b-88ca-a6c25ec1fa13",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInformationPicture>
    <contactInformationTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003ELet us know about\u0026nbsp;\u003C/div\u003E\n\u003Cdiv\u003Eyour next project\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </contactInformationTitle>
    <footerPicture>
      <Value><![CDATA[[
  {
    "key": "264492d2-5a20-49e6-8d36-0e0db78326c2",
    "mediaKey": "ecc6ef8a-402e-4889-892b-9a143d6641d4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerPicture>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "6c146b47-7ec2-4786-bf42-aa8fe3d965e3",
    "mediaKey": "b880258b-cfde-428d-9fa7-a5d288792cb7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <ourServicesText>
      <Value><![CDATA[Home  > Services]]></Value>
    </ourServicesText>
    <ourServicesTitle>
      <Value><![CDATA[Our Services]]></Value>
    </ourServicesTitle>
    <yourBusinessBoxFivePicture>
      <Value><![CDATA[[
  {
    "key": "871e3b89-12e9-47f6-8966-d2e290de5937",
    "mediaKey": "920ecdcd-c230-4ef1-8ae8-b22cd9803c80",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxFivePicture>
    <yourBusinessBoxFiveText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxFiveText>
    <yourBusinessBoxFiveTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </yourBusinessBoxFiveTitle>
    <yourBusinessBoxFourPicture>
      <Value><![CDATA[[
  {
    "key": "282e57d0-61d3-4f47-b014-36c87d6a0cb8",
    "mediaKey": "ac93122e-2f7a-445d-8d13-206b9fb638bf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxFourPicture>
    <yourBusinessBoxFourText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u0026lt;br\u0026gt;\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u0026lt;br\u0026gt;\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxFourText>
    <yourBusinessBoxFourTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </yourBusinessBoxFourTitle>
    <yourBusinessBoxOnePicture>
      <Value><![CDATA[[
  {
    "key": "95683097-7db3-4a65-96d3-6e6e9a96ace0",
    "mediaKey": "f9549acd-15cc-4921-a09d-884189c540ae",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxOnePicture>
    <yourBusinessBoxOneText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxOneText>
    <yourBusinessBoxOneTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </yourBusinessBoxOneTitle>
    <yourBusinessBoxSixPicture>
      <Value><![CDATA[[
  {
    "key": "9dbc8e73-8cdc-4181-aff9-5c1247956f9c",
    "mediaKey": "1ad11e1a-731e-4162-a8cf-7d342b844bf8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxSixPicture>
    <yourBusinessBoxSixText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxSixText>
    <yourBusinessBoxSixTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </yourBusinessBoxSixTitle>
    <yourBusinessBoxThreePicture>
      <Value><![CDATA[[
  {
    "key": "2985b06b-f715-4ed5-a677-f45739522297",
    "mediaKey": "1a590ce2-5427-4c53-b81e-2a7f89bc9a01",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxThreePicture>
    <yourBusinessBoxThreeText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxThreeText>
    <yourBusinessBoxThreeTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </yourBusinessBoxThreeTitle>
    <yourBusinessBoxTwoPicture>
      <Value><![CDATA[[
  {
    "key": "4d0587c0-ce24-42d7-adde-b914ce8e86f0",
    "mediaKey": "6e4a7a03-fd51-4d69-95db-c46f31c4225f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </yourBusinessBoxTwoPicture>
    <yourBusinessBoxTwoText>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EDolor in reprehenderit in voluptate velit esse\u003C/div\u003E\n\u003Cdiv\u003Ecillum dolore eu fugiat nulla pariatur.\u003C/div\u003E\n\u003Cdiv\u003EExcepteur sint occaecat cupidatat non\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessBoxTwoText>
    <yourBusinessBoxTwoTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </yourBusinessBoxTwoTitle>
    <yourBusinessTitle>
      <Value><![CDATA[{
  "markup": "\u003Cdiv\u003E\n\u003Cdiv\u003EWe Provide The Solutions\u003C/div\u003E\n\u003Cdiv\u003ETo Grow Your Business Faster\u003C/div\u003E\n\u003C/div\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </yourBusinessTitle>
  </Properties>
</Content>